In [1]:
import pandas as pd 

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv('../dataset/Udemy_Cleaned.csv')

In [3]:
df.head()

,id,course_id,rate,date,display_name,comment,title,is_paid,price,headline,...,published_time,last_update_date,category,subcategory,topic,language,course_url,instructor_name,instructor_url,image
0,9388140,625204,5.0,2017-09-08T02:15:37-07:00,John Douglas,"examples are well thought through, the lessons...",The Web Developer Bootcamp 2022,True,199.99,COMPLETELY REDONE - The only course you need t...,...,2015-11-02 21:13:27+00:00,2022-07-01,Development,Web Development,Web Development,English,/course/the-web-developer-bootcamp/,Colt Steele,/user/coltsteele/,https://img-c.udemycdn.com/course/750x422/6252...
1,125232566,821278,4.0,2022-10-04T01:40:55-07:00,Tanya,Helps in increasing knowledge and run through ...,"INTERVIEW TRAINING: Ask Better Questions, Hire...",True,19.99,If you want to improve your hiring accuracy or...,...,2016-04-21 15:00:43+00:00,2017-01-31,Business,Management,Interviewing Skills,English,/course/advanced-interviewer-training/,James Colino,/user/james-colino/,https://img-b.udemycdn.com/course/750x422/8212...
2,57899017,567828,5.0,2020-06-09T05:51:08-07:00,Rohan,Yes. I don't feel overwhelmed about learning h...,2022 Complete Python Bootcamp From Zero to Her...,True,199.99,Learn Python like a Professional Start from t...,...,2015-10-12 21:42:53+00:00,2021-03-14,Development,Programming Languages,Python,English,/course/complete-python-bootcamp/,Jose Portilla,/user/joseportilla/,https://img-c.udemycdn.com/course/750x422/5678...
3,43107550,1352468,4.0,2020-01-06T06:01:41-08:00,Abhishek,Overall course was good except last two lectur...,Master Microservices with Spring Boot and Spri...,True,199.99,Java Spring Boot Microservices 5-in-1 - Spring...,...,2017-09-18 23:32:14+00:00,2022-10-03,Development,Web Development,Microservices,English,/course/microservices-with-spring-boot-and-spr...,in28Minutes Official,/user/in28minutes/,https://img-c.udemycdn.com/course/750x422/1352...
4,23581421,1915496,5.0,2018-11-25T19:35:03-08:00,Bryan T,I love the speech delivery speed and articulat...,Facebook Marketing - Build Facebook Messenger...,True,199.99,"Facebook marketing & Facebook ads: Design, dev...",...,2018-09-18 18:14:25+00:00,2019-06-05,Marketing,Digital Marketing,Facebook Marketing,English,/course/facebook-messenger-chatbot-marketing-t...,Isaac Rudansky,/user/isaac-rudansky/,https://img-c.udemycdn.com/course/750x422/1915...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263591 entries, 0 to 263590
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  263591 non-null  int64
 1   course_id           263591 non-null  int64
 2   rate                263591 non-null  float64
 3   date                263591 non-null  object
 4   display_name        263591 non-null  object
 5   comment             263591 non-null  object
 6   title               263591 non-null  object
 7   is_paid             263591 non-null  bool
 8   price               263591 non-null  float64
 9   headline            263591 non-null  object
 10  num_subscribers     263591 non-null  int64
 11  avg_rating          263591 non-null  float64
 12  num_reviews         263591 non-null  int64
 13  num_comments        263591 non-null  int64
 14  num_lectures        263591 non-null  int64
 15  content_length_min  263591 non-null  int64
 16  published_time      263591 non-null  object
 17  last_update_date    263591 non-null  object
 18  category            263591 non-null  object
 19  subcategory         263591 non-null  object
 20  topic               263591 non-null  object
 21  language            263591 non-null  object
 22  course_url          263591 non-null  object
 23  instructor_name     263591 non-null  object
 24  instructor_url      263591 non-null  object
 25  image               263591 non-null  object
dtypes: bool(1), float64(3), int64(7), object(15)
memory usage: 50.5+ MB

In [5]:
# get sample data; take 5%
df = df.sample(frac=0.5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131796 entries, 178249 to 258770
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  131796 non-null  int64
 1   course_id           131796 non-null  int64
 2   rate                131796 non-null  float64
 3   date                131796 non-null  object
 4   display_name        131796 non-null  object
 5   comment             131796 non-null  object
 6   title               131796 non-null  object
 7   is_paid             131796 non-null  bool
 8   price               131796 non-null  float64
 9   headline            131796 non-null  object
 10  num_subscribers     131796 non-null  int64
 11  avg_rating          131796 non-null  float64
 12  num_reviews         131796 non-null  int64
 13  num_comments        131796 non-null  int64
 14  num_lectures        131796 non-null  int64
 15  content_length_min  131796 non-null  int64
 16  published_time      131796 non-null  object
 17  last_update_date    131796 non-null  object
 18  category            131796 non-null  object
 19  subcategory         131796 non-null  object
 20  topic               131796 non-null  object
 21  language            131796 non-null  object
 22  course_url          131796 non-null  object
 23  instructor_name     131796 non-null  object
 24  instructor_url      131796 non-null  object
 25  image               131796 non-null  object
dtypes: bool(1), float64(3), int64(7), object(15)
memory usage: 26.3+ MB

In [7]:
unique_df = df.drop_duplicates(subset='title')
unique_df = unique_df[['course_id', 'title', 'category', 'subcategory', 'topic']]

In [8]:
unique_df.head()

,course_id,title,category,subcategory,topic
178249,2752048,Data Warehouse Fundamentals for Beginners,Business,Business Analytics & Intelligence,Data Warehouse
217500,201966,How to Be Psychic - Psychic Development for Be...,Lifestyle,Esoteric Practices,Psychic
60593,203556,SQL for NEWBS: Weekender Crash Course,Business,Business Analytics & Intelligence,SQL
256813,3054438,"All-in-One:Machine Learning,DL,NLP,AWS Deply [...",IT & Software,Other IT & Software,Machine Learning
178783,12855,Building Custom WordPress Sites from Scratch,Design,Web Design,WordPress

In [9]:
# convert all strings to lower case and remove the spaces
def clean_feature(x):
    # apply for string items, if not string return an empty string
    if isinstance(x, str):
        return str.lower(x.replace(" ", ""))
    else:
        return ''

# apply clean function to the features
features = ['category', 'subcategory', 'topic']
for feature in features:
    unique_df[feature] = unique_df[feature].apply(clean_feature)

In [10]:
#Concat features and add seperate column to the data frame
def add_feature_col(row):
    return f"{row['category']} {row['subcategory']} {row['topic']}"
unique_df['features'] = unique_df.apply(add_feature_col, axis=1)

In [11]:
# Create a TfidfVectorizer object to transform the courses subcategory into a Tf-idf representation
def compute_similarity(df):
    sub = df['subcategory'].str.split('|').explode()
    
    tfidf = TfidfVectorizer(ngram_range=(1,2))
    tfidf_matrix = tfidf.fit_transform(sub)
    
    similarity = cosine_similarity(tfidf_matrix)
    similarity_df = pd.DataFrame(similarity, index=df['title'], columns=df['title'])
    return similarity_df

In [12]:
similarity_df = compute_similarity(unique_df)

In [13]:
course = 'Python & Machine Learning for Financial Analysis'

def get_top_n(sim, title):
    
    course_index = sim.index.get_loc(title)
    
    top_10 = sim.iloc[course_index].sort_values(ascending=False)[1:11]
    return top_10.index.tolist()

In [14]:
get_top_n(similarity_df, course)

['Apache Spark Streaming 3 with Scala | Rock the JVM',
 'Deep Learning: Visual Exploration',
 'Natural Language Processing with Deep Learning in Python',
 'Intro to Big Data, Data Science and Artificial Intelligence',
 'Artificial Intelligence III - Deep Learning in Java',
 'R Programming – Hacks and Automation',
 'Automated Machine Learning for Beginners (Google & Apple)',
 'Modern Natural Language Processing in Python',
 'Species Distribution Models with GIS & Machine Learning in R',
 'Machine Learning 2022: Complete Maths for Machine Learning']

In [15]:
titles = unique_df['title'].tolist()
subcategory = unique_df['subcategory'].str.split("|").tolist()

In [16]:
def create_bow(subcategory):
    bow = {}
    for sub in subcategory:
        bow[sub] = 1
    return bow

In [17]:
bags_of_words = [create_bow(sub) for sub in subcategory]

In [18]:
sub_df = pd.DataFrame(bags_of_words, index=titles).fillna(0)

In [19]:
similarity = cosine_similarity(sub_df)

In [20]:
# Create a dataframe with the cosine similarity scores
sim = pd.DataFrame(similarity, index=sub_df.index, columns=sub_df.index)

In [21]:
get_top_n(sim, course)

['Apache Spark Streaming 3 with Scala | Rock the JVM',
 'Deep Learning: Visual Exploration',
 'Natural Language Processing with Deep Learning in Python',
 'Intro to Big Data, Data Science and Artificial Intelligence',
 'Artificial Intelligence III - Deep Learning in Java',
 'R Programming – Hacks and Automation',
 'Automated Machine Learning for Beginners (Google & Apple)',
 'Modern Natural Language Processing in Python',
 'Species Distribution Models with GIS & Machine Learning in R',
 'Machine Learning 2022: Complete Maths for Machine Learning']